
<!DOCTYPE html>
<html>
<body>
    <h3>Enter Your Name</h3>
    <form method="post">
        <input type="text" name="serial number" value="SAX 1233" required>
        <br><br>
        <input type="text" name="revision" value="a" required>
        <br><br>
        <input type="number" name="num_comparisons" value=5 required>
        <br><br>
        <select name="match_subtype" required>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <br><br>
        <select name="low_drive" required>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>